.button {
    font-size: toRem(20);
    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    background-color: $btnAndHoverColor;
    padding: toRem(14) toRem(21);
    transition: all .3s;
    @media (any-hover: hover){
        &:hover{
            background-color: #A3A19E;
        }
    }
    &--big {
        @media (any-hover: hover){
            &:hover{
                background-color: #63625F;
            }
        }
        &.active  {
            background-color: $mainColor;
        }
    }
}
.title {
    color: $mainColor;
    font-size: 40px;
    @include adaptiveValue("font-size", 40, 28);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    &--margin {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 20);
        }
    }
}
