@media (max-width: toEm(991.98)){
    .catalog {
        &__container {
            display: block;
        }
    }
    .account {
        &__wrapper {
            flex-direction: column;
        }
    }
}
@media (max-width: toEm(950)){
      .category {
        &__items {
            flex-direction: column;
        }
      }
}
@media (max-width: toEm(767.98)) {
    .header {
        &__menu {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -100%;
            overflow: auto;
            background-color: #D4D3CD;
            padding: toRem(0) toRem(15) toRem(30) toRem(15);
            @include adaptiveValue("padding-top", 150, 110, 3, 768, 320);
            transition: left .3s;
            z-index: 2;
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: toRem(80);
                background-color: $mainColor;
                z-index: 3;
                top: 0;
                left: -100%;
                transition: left .3s;
            }
            .menu-open & {
                left: 0;
                &::before {
                    left: 0;
                }
            }
        }
        &__search {
            flex-grow: 1;
        }
    }
    .menu {
        &__list {
            flex-direction: column;
            row-gap: toRem(25);
        }
        &__link {
            font-size: toRem(28);
            color: $mainColor;
        }
    }
    .icon-menu {
        display: block;
        position: relative;
        width: toRem(30);
        height: toRem(30);
        z-index: 5;
        @media (any-hover: none){
            &:hover{
                cursor: default;
            }
        }
        span,
        &::before,
        &::after {
            content: "";
            transition: all .3s;
            left: toRem(0);
            position: absolute;
            width: toRem(30);
            height: toRem(2);
            background-color: #fff;
        }
        &::before {
            top: toRem(5);
        }
        &::after {
            bottom: toRem(5);
        }
        span {
            top: calc(50% - toRem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before {
                top: calc(50% - toRem(1));
                transform: rotate(-45deg);
            }
            &::after {
                top: calc(50% - toRem(1));
                transform: rotate(45deg);
            }
        }
    }
    .hero {
        &__arrwo {
            display: none
        }
    }
    .data {
        flex-direction: column;
    }
    .info-data {
        padding-right: 0;
        &::after {
            display: none;
        }
    }
    .delivery-data {
        padding-left: 0;
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        &__body {
            gap: toRem(40);
        }
        &__row {
            gap: toRem(30);
        }
    }
    .cart {
        &__wrapper {
            flex-direction: column-reverse;
        }
    }
}
@media (max-width: toEm(520)){
    .delivery-data {
        &__items {
            grid-template-columns: auto;
        }
        
    }
}
@media (max-width: toEm(499.98)){
    .new {
        &__slider {
            margin-right: toRem(-15);
        }
        &__arrow {
            display: none;
        }
    }
    .cart {
        &__item {
            flex-direction: column-reverse;
        }
    }
}
@media (max-width: toEm(450)){
    .category {
        &__column {
            flex-direction: column;
        }
        &__item {
            min-height: toRem(270);
        }
    } 
    .item-category {
        &--horizonal {
            min-height: toRem(270);
        }
    }
    .location {
        &__body {
            position: static;
            margin: 0 toRem(-15);
            border-radius: 0;
            &:not(:last-child) {
                margin-bottom: toRem(20);
            }
        }
        &__map {
            height: toRem(300);
        }
    }
}
@media (max-width: toEm(400)) {
    .header {
        &__menu {
            padding-bottom: toRem(90);
        }
        &__action {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: toRem(15);
            background-color: $mainColor;
        }
    }
    .action-header {
        &__item {
            width: auto;
            
        }
    }
    
}
@media (max-width: toEm(320)){
     .delivery-header {
        justify-items: normal;
        &__button {
            text-align: center;
        }
     }
     .cart {
        &__tota-btn {
            align-items: normal;
        }
     } 
}